<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:p="http://www.springframework/schema/p"
    xsi:schemaLocation="
    	http://www.springframework.org/schema/tx
    	http://www.springframework.org/schema/tx/spring-tx.xsd
    	http://www.springframework.org/schema/aop
    	http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 配置c3p0连接池 -->
	<bean id = "dataSource" class = "com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- 注入属性 -->
		<property name = "driverClass" value = "com.mysql.jdbc.Driver"></property>
		<property name = "jdbcUrl" value = "jdbc:mysql:///spring"></property>
		<property name = "user" value = "root"></property>
		<property name = "password" value = "password"></property>
	</bean>
	<!-- 开启注解扫描 -->
	<!-- 到包中扫描类、方法、属性上的注解 -->
  	<context:component-scan base-package="com.cauchy.anno"></context:component-scan>
	<!--只扫描属性上面的注解  -->
<!--   	<context:annotation-config></context:annotation-config> -->
	<!-- ioc 入门 -->
	<bean id = "user" class = "com.cauchy.ioc.User"></bean>
	<!-- 使用静态工厂方式来创建类 -->
	<bean id = "bean2" class = "com.cauchy.bean.Bean2Factory" factory-method="getBean2"></bean>
	<!-- 使用实例化工厂创建 -->
	<bean id = "bean3Factory" class = "com.cauchy.bean.Bean3Factory"></bean>
	<bean id = "bean3" factory-bean="bean3Factory" factory-method = "getBean3"></bean>
	<bean id = "propertyDemo1" class = "com.cauchy.property.PropertyDemo1">
		<!-- 有参构造函数构造 -->
		<!-- 使用constructor-arg属性来设置 -->
		<!-- 配置name和value两个值 -->
		<constructor-arg name = "userName" value = "Cauchy"></constructor-arg>
	</bean>
	<!-- set方法注入 -->
	<bean id = "book" class = "com.cauchy.property.Book">
		<property name="bookName" value = "Happy"></property>
	</bean>
	<bean id = "userDao" class = "com.cauchy.property.UserDao"></bean>
	<bean id = "userService" class = "com.cauchy.property.UserService">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id = "person" class = "com.cauchy.property.Person" p:pname = "Lucy">
		<property name="arrs">
			<list>
				<value>Lucy</value>
				<value>Cauchy</value>
			</list>
		</property>
		<property name="list">
			<list>
				<value>Marry</value>
				<value>Tom</value>
			</list>
		</property>
		<property name="map">
			<map>
				<entry key = "aaa" value = "bbb"></entry>
				<entry key = "ccc" value = "ddd"></entry>
			</map>
		</property>
		<property name="properties">
			<props>
				<prop key="driverclass">com.mysql.Driver</prop>
				<prop key="name">root</prop>
			</props>
		</property>
	</bean>
	<bean id = "bookService" class = "com.cauchy.anno.BookService"></bean>
	<bean id = "bookDao" class = "com.cauchy.anno.BookDao"></bean>
	<bean id = "orderDao" class = "com.cauchy.anno.OrderDao" ></bean>
	<!-- 配置对象 -->
	<bean id = "aopBook" class = "com.cauchy.aop.AopBook"></bean>
	<bean id = "myBook" class = "com.cauchy.aop.MyBook"></bean>
	<!-- 配置aop操作 -->
	<aop:config>
		<!-- 配置切入点 -->
		<aop:pointcut expression="execution(* com.cauchy.aop.AopBook.add(..))" id="pointcut1"/>
		<!-- 配置切面 -->
		<aop:aspect ref = "myBook">
			<!-- 配置增强类型 -->
			<aop:before method="before1" pointcut-ref="pointcut1"/>
			<aop:after method="after1" pointcut-ref="pointcut1"/>
			<aop:around method="around1" pointcut-ref="pointcut1"/>
		</aop:aspect>
	</aop:config>
	<bean id = "cuserDao" class = "com.cauchy.c3p0.UserDao">
		<property name="jdbcTemplate" ref = "jdbcTemplate"></property>
	</bean>
	<bean id = "cuserService" class = "com.cauchy.c3p0.UserService">
		<property name="userDao" ref = "cuserDao"></property>
	</bean>
	<bean id = "jdbcTemplate" class = "org.springframework.jdbc.core.JdbcTemplate">
		<property name = "dataSource" ref = "dataSource"></property>
	</bean>
	<!-- 配置事务管理器 -->
	<bean id = "transactionManager" class = "org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref = "dataSource"></property>
	</bean>
	<!-- 配置事务增强 -->
<!-- 	<tx:advice id = "txadvice" transaction-manager="transactionManager"> -->
<!-- 		<tx:attributes> -->
			<!-- 设置事务操作方法的匹配 -->
			<!-- 以account开头都进行事务操作 -->
<!-- 			<tx:method name="account*"/> -->
<!-- 		</tx:attributes> -->
<!-- 	</tx:advice> -->
<!-- 	<aop:config> -->
		<!-- 切入点 -->
<!-- 		<aop:pointcut expression="execution(* com.cauchy.service.OrderService.*(..))" id="pointcutfortx"/> -->
			<!-- 切面 -->
<!-- 			<aop:advisor advice-ref="txadvice" pointcut-ref = "pointcutfortx"/> -->
<!-- 	</aop:config> -->
	<bean id = "orderService" class = "com.cauchy.service.OrderService">
		<property name="orderDao" ref = "sorderDao"></property>
	</bean>
	
	<bean id = "sorderDao" class = "com.cauchy.service.OrderDao">
		<property name="jdbcTemplate" ref = "jdbcTemplate"></property>
	</bean>
	<!-- 开启事务注解 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>